body {
  font-family: "Montserrat", serif;
  background: #bfc7ce;
  color: black;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.book-con {
  max-width: 600px;
  background: #929ca1;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar {
  background-color: black;
  color: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 1.6rem;
  font-weight: bolder;
}
.footer {
  background-color: black;
  padding: 30px 40px 10px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #222;
  padding-bottom: 20px;
}
.footer-left h2 {
  font-family: "Playfair Display", serif;
  color: #c8a66a;
  font-size: 2rem;
  margin-bottom: 20px;
}
.icons {
  display: flex;
  gap: 20px;
}
.ic {
  background-color: #c8a66a;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.2s ease;
  margin-top: 90px;
}
.ic:hover {
  transform: scale(1.1);
}
.nav-foot {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.nav-foot a {
  color: #bcb6b6;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}
.nav-foot a:hover {
  color: #c2a875;
}
.nav-foot ul {
  list-style-type: none;
}
.nav-foot:hover {
  color: #c8a66a;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: right;
}
.footer-right small {
  color: #999;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-right p {
  margin: 4px 0 0;
  font-size: 1rem;
  color: #eee;
}
.top-part {
  background-color: black;
  color: white;
  font-family: 'Playfair Display',serif;
  padding: 9px 21px;
  font-size: 15px;}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  color: #c8a66a;}
  
.navbar ul li a.active {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: black;
}

input,
select,
textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

fieldset {
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

fieldset label {
  margin-right: 1rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: #1B3C53;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #357ab8;
}
