*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: 'Montserrat', serif;
  background-color: #dddd;
  color: black;
}
.ti-hero{
  text-align: center;
  background: url(learn.jpg) center/cover no-repear;
  padding: 50px 20px;
  color: white;
  background-blend-mode: darken;
  background-color: rgb(0, 0,0,0.5)
}
.ti-hero h1{
  font-size: 3rem;
  margin-bottom: 10px;
}
.ti-hero p{
  font-size: 1.2rem;

}

.tr-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px 1fr));
  gap: 30px;
  padding: 35px;
  max-width: 1200px;
  margin: auto;
}
.footer {
  background-color: black;
  padding: 30px 40px 10px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #222;
  padding-bottom: 20px;
}
.footer-left h2 {
  font-family: "Playfair Display", serif;
  color: #c8a66a;
  font-size: 2rem;
  margin-bottom: 20px;
}
.icons {
  display: flex;
  gap: 20px;
}
.ic {
  background-color: #c8a66a;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.2s ease;
  margin-top: 90px;
}
.ic:hover {
  transform: scale(1.1);
}
.nav-foot {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.nav-foot a {
  color: #bcb6b6;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}
.nav-foot a:hover {
  color: #c2a875;
}
.nav-foot ul {
  list-style-type: none;
}
.nav-foot:hover {
  color: #c8a66a;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: right;
}
.footer-right small {
  color: #999;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-right p {
  margin: 4px 0 0;
  font-size: 1rem;
  color: #eee;
}
.card{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  overflow: hidden;
  transition: transform 0.1s ease;
}
.card:hover{
  transform: translateY(-5px);
}
.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card h3{
  margin: 20px;
  font-size: 1.6rem;
}
.card p{
  margin: 0 20px 20px 20px;
  font-size: 1rem;
  color: #555;
}
.card .btn{
  display: inline-block;
  margin: 0 20px 20px 20px;
  padding: 10px 16px;
  background-color: #283e43;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.6s ease;
}
.card .btn:hover{
  background: black;
}

.navbar {
  background-color: black;
  color: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 1.6rem;
  font-weight: bolder;
}
.top-part {
  background-color: black;
  color: white;
  font-family: 'Playfair Display',serif;
  padding: 9px 21px;
  font-size: 15px;}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  color: #c8a66a;}
  
.navbar ul li a.active {
  text-decoration: underline;
}